/**** GLOBAL ****/
html {
    font-family: 'Alata';
    color: #252525;
}

/**** PÁGINA JULIANA ****/

/* Header */
header {
    background-color: #CB8DFF;
    width: 100vw;
    height: 109px;
}

.header-content {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#burguer{
    display: none;
}

h1{
    font-size: 2.5em;
}

nav a{
    margin: 0em 0.5em;
    font-size: 1.5em;
    color: #F2F0EA;
    text-decoration: none;
}

nav a:hover{
    color: #252525;
}

@media (max-width: 1000px) {
    nav {
        display: none;
    }

    #burguer{
        display: block;
        cursor: pointer;
        font-size: 3em;
    }

    #burguer:hover{
        color: #F2F0EA;
    }
      
}

/* Section about */
.about {
    background-color: #F2F0EA;
    width: 100vw;
    min-height: 318px; 
}

.about-content{
    padding: 2em 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about img {
    width: 247px;
    height: 247px;
    border-radius: 50%;
}

.description{
    margin: 1em 5em 1em 5em;
}

.description p{
    margin: 1em 0em 1em 0em;
}

@media (max-width: 1000px) {
    .about-content {
        flex-flow: row wrap;
    }
    .description{
        margin: 2em 0em 0em 0em;
    }
}

/* Section lists */
.lists {
    width: 100vw;
    min-height: 318px;
}

.lists-content{
    display: flex;
    flex-flow: row wrap;
    margin: 1.5em 2em;
    align-items: center;
    justify-content: center;
}

.hobbies, .spotify{
    margin: 1em;
}

.hobbies h4, .spotify h4  {
    text-align: left;
    font-size: 1.5em;
    margin: 1em 0em;
}

.hobbies ul{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    list-style: none;
}

.spotify ol{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.hobbies li, .spotify li{
    background-color: #F2F0EA;
    width: 102px;
    height: 150px;
    margin: 10px;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
}

@media (min-width: 1000px) {
    .hobbies h4 {
        text-align: right;
    }
}

/* Footer */
footer {
    background-color: #CB8DFF;
    width: 100vw;
    min-height: 70px;
}

.footer-content{
    padding: 1.5em 4em 1.5em 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer img {
    margin: 0.5em;
    width: 2em;
    height: 2em;
}

.contact{
    margin: 1em;
}

.contact a{
    border: 1em solid #F2F0EA;
    border-radius: 5px;
    background-color: #F2F0EA;
    text-decoration: none;
}

.contact a:hover{
    border: 1em solid #252525;
    background-color: #252525;
    color: #F2F0EA;
}

@media (max-width: 1000px) {
    .footer-content{
        flex-direction: column-reverse;
        align-items: center;
    }
    .contact{
        margin-bottom: 1.5em;
    }
}